body {
    font-family: "Roboto Condensed", sans-serif;
    background: gainsboro;
    font-size: 14px;
    font-weight: 400;
}

.area {
    margin: 15px auto;
    width: 80%;
    padding: 20px;
    background: darkgrey;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 5px;
}

#addUser {
    margin: 0 auto;
    width: 80%;
    font-size: 16px;
    font-weight: 600;
    height: 2em;
    background-color: rgba(112,169,99,0.69);
    border: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#addUser:hover {
    background-color: #3ca932;
}

#usersTable1 {
    margin: 15px auto;
    width: 80%;
}

h1, h2, table {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    padding: 10px;
}

table, th {
    border: 1px #9e9e9e solid;;
    border-collapse: collapse;
    text-align: left;
    padding-left: 10px;
    table-layout: auto;
}

td {
    border-left: 1px #9e9e9e solid;
    border-right: 1px #9e9e9e solid;
    padding-left: 10px;
}

thead > tr {
    background: #e2e2e2ff
}

tr {
    background: rgb(255, 255, 255)
}

.dark-row {
    background: rgb(239, 239, 239)
}

table tbody tr:hover, table thead th:hover {
    background-color: rgb(203, 203, 203)
}

tr td:last-child {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.delUser {
    background-color: rgba(169,25,16,0.51);
    border-radius: 3px;
    border: 0;
    width: 90%;
    font-size: 14px;
}

.delUser:hover {
    background-color: red;
}
